* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.trust-div-1, .trust-div-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    gap: 50px;
}

body {
    font-family: "Instrument Sans", sans-serif;
    overflow-x: hidden;
    background: linear-gradient(to bottom, #ffcc80 0%, #ffffff 10%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar-div {
    width: 90vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    position: relative;
    width: 45vw;
    padding: 8px 12px 12px 12px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: #000;
    font-weight: lighter;
    text-decoration: none;
    font-size: 18px;
    padding: 6px 12px;
    top: 2px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    transition: top 1.5s ease;
}

.navbar:has(a.active) .artemis {
    position: relative;
    top: 0px;
}

.navbar a.active:not(#artemisID) {
    color: #8A6EFF;
    position: relative;
    top: -2px;
}

.navbar .underline {
    position: absolute;
    bottom: 18px;
    left: 0;
    width: 40px;
    height: 2px;
    background: #8A6EFF;
    transition: transform 1.5s ease;
    pointer-events: none;
}

.artemis {
    background: #9E87FF;
    color: white;
    border-radius: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 16px;
    margin: -16px -24px;
}

.navbar a:last-child.active + .underline {
    display: none;
}

.navbar.glow {
    background: rgba(252, 206, 138, 0.7);
    box-shadow: 0px 4px 15px rgba(255,204,128,1);
    transition: all 0.3s ease;
}

.logo {
    width: 150px;
    height: 150px;
    margin-left: -20px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.logo-img {
    width: 100%;
    height: 100%;
}

.footer-section {
    height: 500px;
    background-color: rgba(255,213, 143, 0.7);
    width: 100%;
    margin-top: 100px;
}

.hamburger-menu {
    display: none;
    font-size: 35px;
    cursor: pointer;
    padding: 10px;
    z-index: 2;
    margin-bottom: 24px;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    cursor: pointer;
    color: #818181;
}

.sidebar {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: width 1s ease;
    z-index: 10000000000001;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 80px 0;
    overflow-y: hidden;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: underline;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar.active {
    width: 90%;
    z-index: 10000000000000;
}

.bottom-content {
    position: absolute;
    bottom: 100px;
    text-align: center;
    overflow-y: hidden;
}

.bottom-content img {
    max-width: 200x;
    margin-bottom: -50px;
}

.bottom-content p {
    color: #818181;
    margin: 5px 0 0 0;
    font-size: 20px;
}

.content {
    margin-left: 200px;
    padding: 16px;
}


.hero-section {
    margin-top: -20px;
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}

.hero-paragraph {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: auto;
    margin-top: 20px;
}

.hero-heading-1 {
    font-family: "Instrument Serif", sans-serif !important;
    font-style: italic;
    font-weight: 300;
    font-size: 54px;
    color: #403219;
    letter-spacing: -2.5px;
    text-align: center;
    width: 100%;
}

.artemis-image-wrapper {
    height: 70vh;
    width: 80vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
@media (max-width: 800px) {
    .artemis-image-wrapper {
        height: 45vh;
    }

    .hero-heading-2 {
        width: 90vw;
    }

    .hero-heading-1 {
        font-size: 28px;
        letter-spacing: -3px;
    }
}
.artemis-image {
    height: 100%;
    width: 100%;
    min-width: 900px;
    border-radius: 10px;
}

.osce-challenge-section {
    width: 80vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
    gap: 4vh;
}

.osce-challenge-heading {
    font-size: 64px;
    font-family: "Instrument Serif", sans-serif;
    font-style: italic;
    color: #8A6EFF;
    font-weight: 300;
}

.osce-challenge-heading span {
    color: #ffcc80;
}

.osce-challenge-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.osce-challenge-left-image {
    width: 47.5%;
    height: 40vh;
}

.osce-challenge-right-text {
    width: 47.5%;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 300;
    color: #403219;
    font-size: 20px;
}

.hero-para-small {
    font-family: "Instrument Sans", sans-serif;
    color: #403219;
    font-size: 18px;
    text-align: center;
    width: 90%;
}

.candidate-journey-section {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}

.candidate-journey-heading {
    font-size: 64px;
    font-family: "Instrument Serif", sans-serif;
    font-style: italic;
    letter-spacing: -2.5px;
    font-weight: 300;
    color: #8A6EFF;
    text-align: center;
    width: 100%;
}

.candidate-journey-heading span {
    color: #ffcc80;
}

.candidate-journey-byline {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 350;
}

.candidate-journey-bottom {
    width: 80vw;
    height: 50vh;
    margin-top: 40px;
}

.candidate-journey-bottom-container {
    display: none;
}

.self-sponsored-section {
    width: 80vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4vh;
    margin-top: 10vh;
}

.self-sponsored-section-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    flex-direction: column;
}

.heading-t {
    font-size: 64px;
    font-family: "Instrument Serif", sans-serif;
    font-style: italic;
    color: #8A6EFF;
}

.self-sponsored-section-heading-bottom {
    color: #ffcc80;
}

.self-sponsored-section-bottom-image {
    width: 85vw;
    height: 150vh;
}

.our-advantage-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    height: auto;
    margin-top: 10vh;
    gap: 4vh;
}

.our-advantage-heading {
    font-size: 64px;
    color: #8A6EFF;
    font-family: "Instrument Serif", sans-serif;
    font-style: italic;
    font-weight: 300;
    width: 100%;
    text-align: center;
}

.our-advantage-heading span {
    color: #ffcc80;
}

.our-advantage-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 2vh;
}

.oabtr {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-advantage-bottom-container-orange {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff2db;
    border-radius: 4px;
    padding: 24px 24px;
    color: #403219;
}

.container-text {
    text-align: center
}

.left-align {
    width: 100%;
    text-align: left;
}

.our-advantage-bottom-container-purple {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8A6EFF;
    color: #ffeac8;
    border-radius: 4px;
    padding: 24px 24px;
}

.hollow-purple {
    background: #dbd2fe;
    color: #403219;
}

.custom-3 {
    padding: 37px;
}

.custom-1 {
    padding: 12px;
    font-size: 13px;
}

.custom-2 {
    padding: 20px;
    font-size: 13px;
}

.custom-4 {
    font-size: 12px;
    padding: 12px;
}

.custom-5 {
    font-size: 12px;
    padding: 14px;
}

.custom-6 {
    padding: 30px;
}

.custom-7 {
    padding: 28px;
}

.custom-8{
    font-size: 13px;
    padding: 13px;
}

.custom-9 {
    font-size: 13px;
    padding: 22px 13px;
}

.custom-11 {
    font-size: 13px;
    padding: 13px;
}

.custom-12 {
    font-size: 13px;
    padding: 30px 13px;
}

.custom-10 {
    padding: 35px;
}

.custom-14 {
    font-size: 13px;
    padding: 28px 13px;
}

.custom-15 {
    font-size: 13px;
    padding: 28px 13px;
}

.custom-16 {
    padding: 34px;
}

.custom-17 {
    font-size: 13px;
    padding: 13px;
}

.custom-18 {
    font-size: 13px;
    padding: 37px 13px;
}

.custom-19 {
    padding: 28px;
}

.custom-20 {
    font-size: 13px;
    padding: 13px;
}

.custom-21 {
    font-size: 13px;
    padding: 22px 13px;
}

.custom-22 {
    padding: 34px;
}

.custom-23 {
    font-size: 13px;
    padding: 13px;
}

.custom-24 {
    padding: 37px 13px;
    font-size: 13px;
}

.who-can-apply-section {
    width: 80vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
}

.who-can-apply-heading {
    font-size: 64px;
    color: #8A6EFF;
    font-weight: 350;
    font-family: "Instrument Serif", sans-serif;
    font-style: italic;
    width: 100%;
    text-align: center;
}

.who-can-apply-para {
    font-size: 20px;
    color: #403219;
    font-weight: 350;
    font-family: "Instrument Sans", sans-serif;
    width: 100%;
    text-align: center;
}

.who-can-apply-heading span {
    color: #ffcc80;
}

.who-can-apply-bottom {
    display: flex;
    width: 80vw;
    justify-content: center;
    align-items: center;
    gap: 4.5%;
    margin-top: 0px;
}

.who-can-apply-container-1, .who-can-apply-container-2, .who-can-apply-container-3 {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
}

.who-can-apply-image {
    width: 100%;
    height: 38vh;
}

.who-can-apply-item-para {
    font-size: 20px;
    font-weight: 550;
    color: #403219;
    text-align: center;
    width: 100%;
}

.who-can-apply-bottom-table {
    width: 80vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
    margin-top: 10vh;
}

.who-can-apply-bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.who-can-apply-bottom-container-purple {
    background: #8A6EFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffeac8;
    font-family: "Instrument Sans", sans-serif;
    width: 19%;
    padding: 24px;
    font-size: 18px;
    border-radius: 4px;
}

.who-can-apply-bottom-container-orange {
    background: #fff2db;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #403219;
    font-family: "Instrument Sans", sans-serif;
    width: 19%;
    padding: 24px;
    font-size: 18px;
    border-radius: 4px;
}

.who-can-apply-bottom-button {
    height: auto;
    width: 30%;
    text-align: center;
    align-self: center;
    background: #8A6EFF;
    font-size: 18px;
    padding: 24px;
    color: #ffeac8;
    border-radius: 4px;
}

.who-can-apply-bottom-button-phone {
    display: none;
}

@media screen and (max-width: 800px) {
    .hero-paragraph {
        width: 90vw;
        text-align: center;
    }

    .who-can-apply-heading {
        font-size: 54px;
        text-align: center;
        width: 100vw;
    }

    .who-can-apply-para {
        text-align: center;
        width: 100vw;
    }

    .who-can-apply-bottom {
        flex-direction: column;
        gap: 3vh;
    }

    .who-can-apply-container-1, .who-can-apply-container-2, .who-can-apply-container-3 {
        width: 100%;
    }

    .hero-heading-1, .hero-heading-2, .hero-para-small {
        width: 90vw;
    }

    .candidate-journey-bottom {
        display: none;
    }

    .candidate-journey-heading {
        font-size: 54px;
        text-align: center;
        align-self: center;
    }

    .candidate-journey-byline {
        width: 100%;
        text-align: center;
        align-self: center;
    }

    .candidate-journey-bottom-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: auto;
        width: 80vw;
        gap: 5vh;
        margin-top: 5vh;
    }

    .candidate-journey-container {
        height: auto;
        width: 30%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .candidate-journey-triple-container, .candidate-journey-double-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90vw;
        height: auto;
    }

    .candidate-journey-double-container {
        justify-content: space-around;
        align-items: flex-start;
    }

    .candidate-journey-img {
        height: 15vh;
        width: 100%;
    }

    .candidate-journey-item-text {
        font-size: 20px;
        font-family: "Instrument Serif", sans-serif;
        font-style: italic;
        font-weight: 300;
        margin-top: 2.5vh;
        width: 100%;
    }

    .osce-challenge-heading {
        text-align: center;
        width: 90vw;
        font-size: 54px;
    }

    .osce-challenge-bottom {
        flex-direction: column;
        gap: 2.5vh;
    }

    .osce-challenge-left-image, .osce-challenge-right-text {
        width: 80vw;
        text-align: center;
    }

    .right {
        width: 100%;
        text-align: center;
    }

    .self-sponsored-section-heading-top, .self-sponsored-section-heading-bottom {
        font-size: 50px;
        text-align: center;
    }

    .self-sponsored-section-bottom-image {
        width: 200vw;
        transform: translateX(-50vw)
    }

    .who-can-apply-bottom-table {
        flex-direction: row;
        justify-content: space-between;
    }

    .who-can-apply-bottom-row {
        flex-direction: column;
        width: 30%;
        gap: 3vh;
    }

    .who-can-apply-bottom-button {
        display: none;
    }

    .who-can-apply-bottom-container-orange, .who-can-apply-bottom-container-purple {
        width: 100%;
        text-align: center;
    }

    .smaller-font {
        font-size: 10px;
        padding: 22px;
    }

    .ielts {
        font-size: 14px;
        padding: 20px;
    }

    .who-can-apply-bottom-button-phone {
        width: 90%;
        background: #8A6EFF;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3vh;
        text-align: center;
        padding: 18px;
        color: #ffeac8;
    }

    .phone-small {
        font-size: 13px;
    }

    .phone-chota {
        font-size: 11px;
    }

    .custom-3, .custom-2, .custom-1 {
        height: 50vh;
    }

    .custom-5, .custom-6, .custom-4 {
        height: 45vh;
    }

    .custom-7, .custom-9, .custom-8 {
        height: 40vh;
    }

    .custom-10, .custom-12, .custom-11 {
        height: 35vh;
    }

    .custom-13, .custom-15, .custom-14 {
        height: 35vh;
    }

    .custom-16, .custom-18, .custom-17 {
        height: 50vh;
    }

    .custom-19, .custom-21, .custom-20 {
        height: 35vh;
    }

    .custom-22, .custom-24, .custom-23 {
        height: 50vh;
    }
}

@media screen and (max-width: 1024px) {
    .hamburger-menu {
        display: block;
    }

    .content {
        margin-left: 0;
    }

    body {
        background: linear-gradient(to bottom, #ffcc80 0%, white 10%);
    }
}

@media (max-width: 1024px) {

    body {
        background: linear-gradient(to bottom, #ffcc80 0%, white 10%);
    }
    .navbar {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }
}